[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
stealth_registry = "3yLhEZ1di979tt2SrHsPMwvScYD89rGXmMryRhZwtAM2"

[programs.devnet]
stealth_registry = "3yLhEZ1di979tt2SrHsPMwvScYD89rGXmMryRhZwtAM2"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
